<div class="container">
  <header>
    <h1 class="logo">JK<span class="highlight">TECH</span></h1>
    <h2 class="title">Document Management Tool</h2>
    <p class="subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </p>
  </header>

  <div class="card-container">
    <div class="create-card" (click)="routetocreate()">
      <h1>Create and Manage Document</h1>
      <p>Creation and overall management of all your Document</p>
      <div class="arrow">&#8594;</div>
    </div>

    <div class="optimization-card" (click)="routeToPriceOptimizer()">
      <h1>Chat with Documents</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="arrow">&#8594;</div>
    </div>
  </div>
</div>
